@font-face {
  font-family: "workSansRegular";
  src: url(../../font/WorkSans-Regular.ttf);
}
* {
  font-family: "workSansRegular", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-size: 3vw;
  color: #1d725f;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #1d725f;
  text-align: center;
}
@media (max-width: 767px) {
  h2 {
    font-size: 150%;
    margin-top: 25%;
  }
}

body {
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto 150px;
  grid-template-areas: "header" "main" "footer";
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "portada" "nuestros__servicios" "nosotros" "portfolio" "cobertura" "contacto";
}

footer {
  background-color: #1d725f;
  width: 100vw;
  height: 150px;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}
footer img {
  width: 10%;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-top: 1%;
  margin-bottom: 1%;
}

header .header__container {
  grid-area: header;
  width: 100vw;
  height: 100px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
}
header .header__container img {
  width: 45px;
  margin: 25px;
}
header .header__container nav {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
header .header__container nav .ul__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  margin-top: -110;
}
header .header__container nav .ul__header ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__container nav .ul__header ul li {
  margin: 40px;
  list-style: none;
}
header .header__container nav .ul__header ul li a {
  color: #1d725f;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 17px;
}
@media (max-width: 992px) {
  header .header__container nav .ul__header ul li a {
    color: #000;
  }
}
header .header__container nav .ul__header ul li:hover {
  text-decoration: underline !important;
}
@media (max-width: 992px) {
  header .header__container nav .ul__header ul li {
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 10%;
  }
}
@media (max-width: 992px) {
  header .header__container nav .ul__header ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 0px;
    width: 80vw;
    height: 10000%;
    padding: 0%;
  }
}
@media (max-width: 767px) {
  header .header__container nav .ul__header ul {
    height: auto;
  }
}
header .header__container nav .ul__header .header__tienda li {
  background-color: #1d725f;
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
}
header .header__container nav .ul__header .header__tienda li:hover {
  background-color: #000;
  cursor: pointer;
}
header .header__container nav .ul__header .header__tienda li:hover a {
  color: #1d725f;
}
header .header__container nav .ul__header .header__tienda li a {
  color: #000;
}
@media (max-width: 992px) {
  header .header__container nav .ul__header .header__tienda li a {
    color: #1d725f;
  }
}
@media (max-width: 992px) {
  header .header__container nav .ul__header .header__tienda li {
    background-color: #000;
  }
}
@media (max-width: 992px) {
  header .header__container nav .ul__header {
    margin-top: 0%;
  }
}
@media (max-width: 992px) {
  header .header__container nav {
    display: none;
    background-color: #1d725f;
    margin-top: -11;
    margin-right: -10;
    height: 400px;
  }
}
@media (max-width: 767px) {
  header .header__container nav {
    margin-right: 0%;
  }
}
header .header__container .menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
@media (max-width: 992px) {
  header .header__container .menu {
    width: 200px;
    appearance: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-width: 992px) {
  header .header__container .menu img {
    width: 50%;
  }
}
header .header__container .input__menu {
  display: none;
}
@media (max-width: 992px) {
  header .header__container .input__menu {
    appearance: none;
  }
}
@media (max-width: 992px) {
  header .header__container .input__menu:checked + nav {
    display: block;
  }
}

.portada {
  grid-area: portada;
}
.portada img {
  position: relative;
  width: 100vw;
}
@media (max-width: 767px) {
  .portada img {
    width: 200%;
    margin-left: -100%;
    filter: blur(2px);
  }
}
.portada div {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 350px;
  left: 10%;
}
.portada div p {
  color: #1d725f;
  font-size: 2vw;
}
@media (max-width: 992px) {
  .portada div {
    top: 200px;
  }
}
@media (max-width: 767px) {
  .portada div {
    margin-left: -10px;
    top: 50px;
    zoom: 350%;
  }
}

#nuestros__servicios {
  grid-area: nuestros__servicios;
  position: relative;
  margin-top: 6%;
}
#nuestros__servicios .tarjetas {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#nuestros__servicios .tarjetas div {
  margin-top: 7%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 20%;
  background-color: #1d725f;
  text-align: center;
}
#nuestros__servicios .tarjetas div p {
  font-size: 2vw;
  color: #ffffff;
}
@media (max-width: 767px) {
  #nuestros__servicios .tarjetas div p {
    font-size: 3vw;
    margin-top: 8%;
  }
}
@media (max-width: 767px) {
  #nuestros__servicios .tarjetas div {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #nuestros__servicios .tarjetas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#nosotros {
  grid-area: nosotros;
  position: relative;
}
#nosotros p {
  text-align: justify;
  padding: 7%;
  padding-top: 3%;
  font-size: 130%;
}
@media (max-width: 767px) {
  #nosotros p {
    font-size: 80%;
  }
}

#portfolio {
  grid-area: portfolio;
  position: relative;
}

#cobertura {
  grid-area: cobertura;
  position: relative;
}
#cobertura div {
  margin-top: 7%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  #cobertura div {
    flex-wrap: wrap;
  }
  #cobertura div img {
    margin: 10%;
  }
}
@media (max-width: 767px) {
  #cobertura div img {
    width: 40%;
  }
}

#contacto {
  grid-area: contacto;
  position: relative;
  margin-top: 15%;
}
#contacto .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contacto .contact img {
  width: 100vw;
}
#contacto .contact .seccion__contacto {
  width: 100vw;
  background-color: #1d725f;
  padding: 2%;
}
#contacto .contact .seccion__contacto .nombres {
  margin-left: 25%;
}
#contacto .contact .seccion__contacto .nombres p {
  font-size: 150%;
  color: #ffffff;
}
@media (max-width: 992px) {
  #contacto .contact .seccion__contacto .nombres p {
    font-size: 100%;
  }
}
#contacto .contact .seccion__contacto .nombres input {
  width: 65%;
  padding: 1%;
}
@media (max-width: 767px) {
  #contacto .contact .seccion__contacto .nombres input {
    width: 90%;
  }
}
@media (max-width: 767px) {
  #contacto .contact .seccion__contacto .nombres {
    margin-left: 13%;
  }
}
#contacto .contact .seccion__contacto .email {
  margin-left: 25%;
}
#contacto .contact .seccion__contacto .email p {
  font-size: 150%;
  color: #ffffff;
}
@media (max-width: 992px) {
  #contacto .contact .seccion__contacto .email p {
    font-size: 100%;
  }
}
#contacto .contact .seccion__contacto .email input {
  width: 65%;
  padding: 1%;
}
@media (max-width: 767px) {
  #contacto .contact .seccion__contacto .email input {
    width: 90%;
  }
}
@media (max-width: 767px) {
  #contacto .contact .seccion__contacto .email {
    margin-left: 13%;
  }
}
#contacto .contact .seccion__contacto .mensaje {
  margin-left: 25%;
  display: flex;
  flex-direction: column;
}
#contacto .contact .seccion__contacto .mensaje p {
  font-size: 150%;
  color: #ffffff;
}
@media (max-width: 992px) {
  #contacto .contact .seccion__contacto .mensaje p {
    font-size: 100%;
  }
}
#contacto .contact .seccion__contacto .mensaje textarea {
  width: 65%;
  padding: 1%;
}
@media (max-width: 767px) {
  #contacto .contact .seccion__contacto .mensaje textarea {
    width: 90%;
  }
}
@media (max-width: 767px) {
  #contacto .contact .seccion__contacto .mensaje {
    margin-left: 13%;
  }
}
#contacto .contact .seccion__contacto .mensaje input {
  width: 10%;
  background-color: #000;
  color: #ffffff;
  border-style: none;
  font-size: 120%;
  padding: 1%;
  border-radius: 15px;
  margin-left: 55%;
}
@media (max-width: 992px) {
  #contacto .contact .seccion__contacto .mensaje input {
    width: 15%;
    margin-left: 48%;
  }
}
@media (max-width: 767px) {
  #contacto .contact .seccion__contacto .mensaje input {
    width: 42%;
  }
}
@media (max-width: 992px) {
  #contacto .contact .seccion__contacto {
    width: 96vw;
  }
}

/*# sourceMappingURL=app.css.map */
