.portada{
    grid-area: portada;
    img{
        position: relative;
        width: 100vw;
        @include mediaquery-mobile{
            width: 200%;
            margin-left: -100%;
            filter: blur(2px);
        }
    }
    div{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 350px;
        left: 10%;
        p{
            color: $color-primario;
            font-size: 2vw;
        }
        @include mediaquery-tablet{
            top: 200px;
        }
        @include mediaquery-mobile{
            margin-left: -10px;
            top: 50px;
            zoom: 350%;
        }
    }
}
#nuestros__servicios{
    grid-area: nuestros__servicios;
    position: relative;
    margin-top: 6%;
    .tarjetas{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        div{
            margin-top: 7%;
            margin-bottom: 7%;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            width: 20%;
            background-color: $color-primario;
            text-align: center;
            p{
                font-size: 2vw;
                color: $color-secundario;
                @include mediaquery-mobile{
                    font-size: 3vw;
                    margin-top: 8%;
                }
            }
            @include mediaquery-mobile{
                width: 50%;
            }
        }
        @include mediaquery-mobile{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
#nosotros{
    grid-area: nosotros;
    position: relative;
    p{
        text-align: justify;
        padding: 7%;
        padding-top: 3%;
        font-size: 130%;
        @include mediaquery-mobile{
            font-size: 80%;
        }
    }
}
#portfolio{
    grid-area: portfolio;
    position: relative;
}
#cobertura{
    grid-area: cobertura;
    position: relative;
    div{
        margin-top: 7%;
        display: flex;
        justify-content: space-around;
        @include mediaquery-tablet{
            flex-wrap: wrap;
            img{
                margin: 10%;
            }
        }
        @include mediaquery-mobile{
            img{
                width: 40%;
            }
        }
    }
}
#contacto{
    grid-area: contacto;
    position: relative;
    margin-top: 15%;
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100vw;
        }
        .seccion__contacto{
            width: 100vw;
            background-color: $color-primario;
            padding: 2%;
            .nombres{
                margin-left: 25%;
                p{
                    font-size: 150%;
                    color: $color-secundario;
                    @include mediaquery-tablet{
                        font-size: 100%;
                    }
                }
                input{
                    width: 65%;
                    padding: 1%;
                    @include mediaquery-mobile{
                        width: 90%;
                        
                    }
                }
                @include mediaquery-mobile{
                    margin-left: 13%;
                }
            }
            .email{
                margin-left: 25%;
                p{
                    font-size: 150%;
                    color: $color-secundario;
                    @include mediaquery-tablet{
                        font-size: 100%;
                    }
                }
                input{
                    width: 65%;
                    padding: 1%;
                    @include mediaquery-mobile{
                        width: 90%;
                        
                    }
                }
                @include mediaquery-mobile{
                    margin-left: 13%;
                }
            }
            .mensaje{
                margin-left: 25%;
                display: flex;
                flex-direction: column;
                p{
                    font-size: 150%;
                    color: $color-secundario;
                    @include mediaquery-tablet{
                        font-size: 100%;
                    }
                }
                textarea{
                    width: 65%;
                    padding: 1%;
                    @include mediaquery-mobile{
                        width: 90%;
                        
                    }
                }
                @include mediaquery-mobile{
                    margin-left: 13%;
                }
                input{
                    width: 10%;
                    background-color: $color-terciario;
                    color: $color-secundario;
                    border-style: none;
                    font-size: 120%;
                    padding: 1%;
                    border-radius: 15px;
                    margin-left: 55%;
                    @include mediaquery-tablet{
                        width: 15%;
                        margin-left: 48%;
                    }
                    @include mediaquery-mobile{
                        width: 42%;
                    }
                }
            }
            @include mediaquery-tablet{
                width: 96vw;
            }
        }

    }
    
    
}