.portada{
    grid-area: portada;
    img{
        position: relative;
        width: 100vw;
    }
    div{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 45%;
        left: 10%;
        p{
            color: $color-primario;
            font-size: 150%;
        }
    }
}
.nuestros__servicios{
    grid-area: nuestros__servicios;
    position: relative;
    .tarjetas{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div{
            margin: 7%;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            width: 20%;
            background-color: $color-primario;
            text-align: center;
            p{
                font-size: 2vw;
                color: $color-secundario;
            }
        }
    }
}
.nosotros{
    grid-area: nosotros;
    position: relative;
    p{
        text-align: justify;
        padding: 7%;
        padding-top: 3%;
        font-size: 130%;
    }
}
.portfolio{
    grid-area: portfolio;
    position: relative;
}
.cobertura{
    grid-area: cobertura;
    position: relative;
    div{
        display: flex;
        justify-content: space-around;
    }
}
.contacto{
    grid-area: contacto;
    position: relative;
    margin-top: 15%;
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100vw;
        }
        .seccion__contacto{
            width: 100%;
            background-color: $color-primario;
            padding: 2%;
            .nombres{
                margin-left: 25%;
                p{
                    font-size: 150%;
                    color: $color-secundario;
                }
                input{
                    width: 65%;
                    padding: 1%;
                }
            }
            .email{
                margin-left: 25%;
                p{
                    font-size: 150%;
                    color: $color-secundario;
                }
                input{
                    width: 65%;
                    padding: 1%;
                }
            }
            .mensaje{
                margin-left: 25%;
                display: flex;
                flex-direction: column;
                p{
                    font-size: 150%;
                    color: $color-secundario;
                }
                textarea{
                    width: 65%;
                    padding: 1%;
                }
                input{
                    width: 10%;
                    background-color: $color-terciario;
                    color: $color-secundario;
                    border-style: none;
                    font-size: 120%;
                    padding: 1%;
                    border-radius: 15px;
                    margin-left: 55%;
                }
            }
        }

    }
    
    
}