footer {
    background-color: $color-primario;
    width: 100vw;
    height: 150px;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
    img{
        width: 10%;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-terciario;
        margin-top: 1%;
        margin-bottom: 1%;

    }
}