@font-face {
    font-family: "workSansRegular";
    src: url(../../font/WorkSans-Regular.ttf);
}
*{
    font-family: "workSansRegular", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1{
    font-size: 3.0rem;
    color: $color-primario;
    text-align: center;
}
h2{
    font-size: 2.0rem;
    color: $color-primario;
    text-align: center;
}
body{
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 150px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
        "portada"
        "nuestros__servicios"
        "nosotros"
        "portfolio"
        "cobertura"
        "contacto"
        ;
}